:root {
  --primary-color: black;
  /* Define your primary color variable */
  --font-family: 'Mulish', sans-serif;
  --font-family-poppins: 'Poppins';
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  font-weight: 100;
  text-align: center;
  word-wrap: break-word;
  letter-spacing: 0px;
  list-style: none;
  color: var(--primary-color);

  @media (min-width: 1280px) {
    font-weight: 400;
  }
}




.error-message {
  color: red;
  text-align: left;
}


.gridStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  font-size: 70px;

  /* Responsive font sizes */
  @media (min-width: 1280px) {
    font-size: 70px;
    width: 24vw;
  }

}

a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: rgb(0 74 77);
  text-decoration: underline;
  text-underline-offset: 15px;
  transition: all 0.3s ease-in-out;
}


.typewriter {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  width: 100%;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: rgb(0 74 77);

  /* Responsive font sizes */
  @media (min-width: 1280px) {
    /* lg breakpoint */
    font-size: 20px;
  }
}

.info-list ul li {
  display: flex;
  width: 100%;
  /* background-color: red; */
  align-items: center;
  justify-content: left;

  @media (min-width: 1280px) {
    /* lg breakpoint */
    width: 25vw;
  }
}

.listStyle {
  list-style-type: none;

  /* padding: 5px 0; */
  @media (min-width: 1280px) {
    /* lg breakpoint */
    padding: 10px 0;
  }

}

.listStyle strong {
  padding: 4px;
  background: #78cc6d;
  color: antiquewhite;
}


.name {
  font-size: 16px;
  font-weight: 700;
  color: #3b3b3b;
}

/* css of project.tsx */
.projectStack {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 6px;
  height: 50px;
}

.categorie-item {
  height: 159px;
  background: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.categorie-item .ci-text {
  padding: 15px;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.categorie-item .ci-text h5 {
  color: #000;
}

.categorie-item:hover {
  background: rgb(0 74 77);
  height: 255px;
}

.categorie-item:hover .ci-text h5,
.categorie-item:hover .ci-text p {
  color: #fff;
}

.categorie-item:hover .ci-text .divider {
  padding: 5px;
  color: #fff;
}



/*=============== css of education.jsx ==============================*/
.educationCard {
  background-color: rgb(0 74 77);
  text-align: center;
  border: 1px solid transparent;
  border-radius: 15px;
  -webkit-transition: 0.5s ease border;
  transition: 0.5s ease border;
}

.educationCard:hover {
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white;
  -webkit-transition: 0.5s ease border;
  transition: 0.5s ease border;
}


/* ===================       Footer     ================================= */
.container {
  padding: 0;
  margin:0;
  position: relative;
  background-color: #DCF0FA;
}

.wave {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: url("../src/assets/wave.png") repeat-x;
  background-size: 250rem 30rem;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 10px;
    background-position-x: -250rem;
  }
}

.wave:nth-child(1) {
  opacity: 0.1;
}

.wave:nth-child(2) {
  opacity: 0.1;
  animation-delay: 0.3s;
  animation-direction: reverse;
}

.wave:nth-child(3) {
  opacity: 0.1;
  animation-delay: 5s;
}

img {
  width: 100%;
  height: auto;
}




/* ======================== loader =========================================*/
.progress {
  width: 250.4px;
  height: 24.6px;
  border-radius: 22.4px;
  color: rgb(0, 74, 77);
  border: 2.2px solid;
  position: relative;
}

.progress::before {
  content: "";
  position: absolute;
  margin: 2.2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: progress-pf82op 4s infinite;
}

@keyframes progress-pf82op {
  100% {
    inset: 0;
  }
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }

  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0;
  }
}

/* ----------------skills ------------------ */
.skills h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: black;
  font-size: 15px;
  text-align: left;
}

.progress-bar {
  background: #78cc6d;
  width: 350px;
  height: 10px;
  border-radius: 5px;
}

.progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 0%;
  background: rgb(0 74 77);
}

.progress-bar div span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  float: right;
  margin-top: -25px;
  margin-right: -10px;
  color: rgb(0 74 77);
  display: flex;
  align-items: center;
  justify-content: center;
}

.html {
  animation: html 3s linear forwards;
  animation-fill-mode: forwards;
}

.javascript {
  animation: javascript 3s linear forwards;
  animation-fill-mode: forwards;

}

.css {
  animation: css 3s linear forwards;
  animation-fill-mode: forwards;

}

.percentCount {
  animation: percentCount 3s linear forwards;
  animation-fill-mode: forwards;

}

.nodejs {
  animation: nodejs 3s linear forwards;
  animation-fill-mode: forwards;

}

.express {
  animation: express 3s linear forwards;
  animation-fill-mode: forwards;

}

.mongodb {
  animation: mongodb 3s linear forwards;
  animation-fill-mode: forwards;

}

.mui {
  animation: mui 3s linear forwards;
  animation-fill-mode: forwards;

}

.react {
  animation: react 3s linear forwards;
  animation-fill-mode: forwards;

}

@keyframes html {
  100% {
    width: 95%;
  }

  from {
    left: 0px;
    background-color: #78cc6d;
  }

  to {
    right: 100px;
    background-color: rgb(0 74 77);
  }
}

@keyframes react {
  100% {
    width: 80%;
  }

  from {
    left: 200px;
    background-color: #78cc6d;
  }

  to {
    right: 200px;
    background-color: rgb(0 74 77);
  }
}

@keyframes javascript {
  100% {
    width: 70%;
  }

  from {
    left: 200px;
    background-color: #78cc6d;
  }

  to {
    right: 200px;
    background-color: rgb(0 74 77);
  }
}

@keyframes css {
  100% {
    width: 80%;
  }

  from {
    left: 200px;
    background-color: #78cc6d;
  }

  to {
    right: 200px;
    background-color: rgb(0 74 77);
  }
}

@keyframes nodejs {
  100% {
    width: 70%;
  }

  from {
    left: 200px;
    background-color: #78cc6d;
  }

  to {
    right: 200px;
    background-color: rgb(0 74 77);
  }
}

@keyframes express {
  100% {
    width: 70%;
  }

  from {
    left: 200px;
    background-color: #78cc6d;
  }

  to {
    right: 200px;
    background-color: rgb(0 74 77);
  }
}

@keyframes mongodb {
  100% {
    width: 60%;
  }

  from {
    left: 200px;
    background-color: #78cc6d;
  }

  to {
    right: 200px;
    background-color: rgb(0 74 77);
  }
}

@keyframes mui {
  100% {
    width: 90%;
  }

  from {
    left: 200px;
    background-color: #78cc6d;
  }

  to {
    right: 200px;
    background-color: rgb(0 74 77);
  }
}



.text {
  color: #000;
}

.card {
  background-color: rgb(0, 74, 77);
  text-align: center;
  border: 1px solid transparent;
  transition: 0.5s ease border;
  width: 300px;
  color: #fff;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

    background-color: #6497B1;
    clip-path: circle(10.4% at 100% 0);
    transition: clip-path 0.5s ease;
  }

  & .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
  }


  &:hover {
    &::before {
      clip-path: circle(150% at 100% 0%);
      background-color: #B3CDE0;
      color: #fff;
    }

  }
}


/*-------------- Contact  ---------------------------*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #095a55;
}

section::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff38e;
}

.container {
  position: relative;
  min-width: 1100px;
  min-height: 530px;
  display: flex;
  z-index: 999;
  background: none;
}

.container .contactInfo {
  position: absolute;
  top: 40px;
  width: 300px;
  height: 70%;
  background: #095a55;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgb(0, 0, 0, 0.15);
}


.container .contactForm {
  position: absolute;
  padding: 90px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: 650px;
  height: 58vh;
  background: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);

}

@media (max-width:1200px) {
  .container {
    width: 90%;
    min-width: auto;
    margin: 20px;
  }

  .container .contactInfo {
    height: 500px;
    position: relative;
    box-shadow: none;

  }

  .container .contactForm {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
  }

}

@media (max-width:991px) {
  section {
    background: #fff38e;
    flex-direction: column;
  }

  section::before {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .container .contactForm {
    width: 100%;
    height: auto;
  }

  .container .contactInfo {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
}

@media (max-width:600px){
  .container .contactForm{
    width: 80vw;
    padding: 25px;
  }
  .container .contactInfo{
    padding: 25px;
    width: 80vw ;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  
}