:root {
  --primary-color: black;
  /* Define your primary color variable */
  --font-family: 'Mulish', sans-serif;
  --font-family-poppins: 'Poppins';
}

body {
  font-family: var(--font-family);
  /* Use the defined font-family variable */
  margin: 0;
  /* Simplified margin */
  padding: 0;
  /* Simplified padding */
  font-weight: 100;
  text-align: center;
  word-wrap: break-word;
  letter-spacing: 0px;
  list-style: none;
  /* Changed list-style to none */
  color: var(--primary-color);
  /* Use the defined primary color variable */
   /* Responsive font sizes */
   @media (min-width: 1280px) {
    /* lg breakpoint */
     font-weight: 400;
   }
}




.error-message {
  color: red;
  text-align: left;
}


.gridStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  font-size: 70px;

  /* Responsive font sizes */
   @media (min-width: 1280px) {
   /* lg breakpoint */
    font-size: 70px;
    width: 24vw;
  }

}

a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: rgb(0 74 77);
  text-decoration: underline;
  text-underline-offset: 15px;
  transition: all 0.3s ease-in-out;
}


.typewriter {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: rgb(0 74 77);
   /* Responsive font sizes */
   @media (min-width: 1280px) {
    /* lg breakpoint */
     font-size: 20px;
   }
}

.info-list ul li {
  display: flex;
  width:100%;
  /* background-color: red; */
  align-items: center;
  justify-content: left;
  @media (min-width: 1280px) {
    /* lg breakpoint */
     width: 25vw;
   }
}

.listStyle {
  list-style-type: none;

  /* padding: 5px 0; */
  @media (min-width: 1280px) {
    /* lg breakpoint */
     padding: 10px 0;
   }

}

.listStyle strong {
  padding: 4px;
  background: #78cc6d;
  color: antiquewhite;
}


.name {
  font-size: 16px;
  font-weight: 700;
  color: #3b3b3b;
}

.cardStyle {
  padding: 10px;
}

.proggress {
  margin-top: 10px;
}

.class {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #3b3b3b;

}

.proggress {


  background-color: #78cc6d;
  height: 8px;
  border-radius: 5px;
  width: 90%
}



/* css of project.tsx */
.projectStack {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 6px;
  height: 50px;
}

.categorie-item {
  height: 159px;
  background: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}



.categorie-item .ci-text {
  padding: 15px;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.categorie-item .ci-text h5 {
  color: #000;
}


.categorie-item:hover {
  background: rgb(0 74 77);
  height: 255px;
}

.categorie-item:hover .ci-text h5,
.categorie-item:hover .ci-text p {
  color: #fff;
}

.categorie-item:hover .ci-text .divider {
  padding: 5px;
  color: #fff;
}




.educationCard {
  background-color: rgb(0 74 77);
  text-align: center;
  border: 1px solid transparent;
  border-radius: 15px;
  -webkit-transition: 0.5s ease border;
  transition: 0.5s ease border;
}

.educationCard:hover {
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white;
  -webkit-transition: 0.5s ease border;
  transition: 0.5s ease border;
}


/* ===================       Footer     ================================= */
.container {
  position: relative;
  background-color: #DCF0FA;
}

.wave {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: url("../src/assets/wave.png") repeat-x;
  background-size: 250rem 30rem;
  animation: animate 15s linear infinite;
}

@keyframes  animate {
  0% {
    background-position-x: 10px;
    background-position-x: -250rem;
  }
}

.wave:nth-child(1) {
  opacity: 0.1;
}

.wave:nth-child(2) {
  opacity: 0.1;
  animation-delay: 0.2s;
  animation-direction: reverse;
}

.wave:nth-child(3) {
  opacity: 0.1;
  animation-delay: 5s;
}

img{
  width: 100%;
  height: auto;
}